@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  list-style-type: none;
  text-decoration: none;
}

body {
  width: 100%;
  min-width: 1200px;
}

/* header */
header {
  width: 100%;
  height: 100px;
  display: flex;
}
.logo {
  width: 20%;
  background-color: lightcoral;
}
nav {
  width: 80%;
  background: lightblue;
}

/* imgslide */
.img-slide {
  width: 100%;
  height: 300px;
  background-color: lightcyan;
}

/* contents */
.contents {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
}
.notice {
  width: 100%;
  background-color: lightgoldenrodyellow;
}
.gallery {
  width: 100%;
  background-color: lightgreen;
}
.shortcut {
  width: 100%;
  background-color: lightsalmon;
}

/* footer */
footer {
  width: 100%;
  height: 100px;
  display: flex;
}
.copyright {
  width: 70%;
  background-color: lightgrey;
}
.right-contents {
  width: 30%;
  background-color: lavenderblush;
}
